@media  screen and (max-width: 600px) {
    body{
        #dadofallcontainers{
            width: 100%;
            // background-color: aqua;
            #mainbody{
                .section1{
                    display: flex;
                    flex-direction: column-reverse;
                    padding-bottom: 50px;
                        #overflow{
                           display: none;
                            img{
                                width: 400px;
                                height: 400px;
                            }
                        }
                        #overflow2{
                            left: 0;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    margin: auto;
                                }
                        }
                        #hiddendeskimg{
                            width: 100%;
                            margin: auto;
                            // background-color: tomato;
                                img{
                                    width: 100%;
                                }
                        }
                        .introinfo{
                            text-align: center;
                                h1{
                                    margin: auto;
                                }
                                .button{
                                    margin: auto;
                                }
                        }
                }
                #section2{
                    padding: 100px 0 50px 0;
                    .intro{
                        width: 100%;
                        margin: auto;
                        text-align: center;
                    }
                    #featurecont{
                        flex-direction: column;
                            #features{
                                text-align: center;
                            }
                    }
                }
            }
        }
      
    }
}

@media  screen and (min-width: 600px) {
    #hiddendeskimg{
        display: none;
    }
}